In [2]:
import pandas as pd
import string
from nltk.corpus import stopwordswords

In [5]:
spam_data = pd.read_csv('SpamCollection', sep='\t',names=['response','Message'])

In [6]:
spam_data.head()

  response                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
spam_data.describe()

       response                 Message
count      5572                    5572
unique        2                    5169
top         ham  Sorry, I'll call later
freq       4825                      30

In [9]:
spam_data.groupby('response').describe()

         Message                                                            \
           count unique                                                top
response
ham         4825   4516                             Sorry, I'll call later
spam         747    653  Please call our customer service representativ...


         freq
response
ham        30
spam        4

In [10]:
spam_data['Length'] = spam_data['Message'].apply(len)

In [11]:
spam_data.head()

  response                                            Message  Length
0      ham  Go until jurong point, crazy.. Available only ...     111
1      ham                      Ok lar... Joking wif u oni...      29
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3      ham  U dun say so early hor... U c already then say...      49
4      ham  Nah I don't think he goes to usf, he lives aro...      61